mixin hobbies(modifier)
  .hobbies&attributes(attributes)
    .hobbies__content 
      h2.hobbies__title Хобби
      .hobbies__hobbies 
        .hobbies__block
          img(src="img/Reading.png", alt="Книга").hobbies__hobbie
          span.hobbies__text Чтение
        .hobbies__block
          img(src="img/Dance.png", alt="Танец").hobbies__hobbie
          span.hobbies__text Dance
        .hobbies__block
          img(src="img/Singing.png", alt="Микрофон").hobbies__hobbie
          span.hobbies__text Singing
        .hobbies__block
          img(src="img/football.png", alt="Мяч").hobbies__hobbie
          span.hobbies__text Игры