mixin social(modifier)
  .social&attributes(attributes)
    .social__content 
      h2.social__title Мои контакты
      a(href="https://vk.com/werbin" target="_blank").social__link Вконтакте
      a(href="https://github.com/Alexander-Verbin" target="_blank").social__link GitHub