mixin social(modifier)
  .social&attributes(attributes)
    .social__content 
      h2.social__title Social
      a(href="#").social__link Yoursitename.com
      a(href="#").social__link linkedin.com/in/YourName
      a(href="#").social__link dribbble.com/YourName 
      a(href="#").social__link behance.com/YourName