mixin general(modifier)
  main.general&attributes(attributes)
    .general__content
      +info
      +contacts
      +knowledge
      +languages
      +social
      +hobbies
      .general__skill.general__skill--open 
        +exp
        +edu
        +myskills
        +othersk