mixin general(modifier)
  main.general&attributes(attributes)
    .general__content
      .general__burger.js-active
        span.general__bar
        span.general__bar
      +info
      +contacts
      +knowledge
      +languages
      +social
      .general__skill 
        +exp
        +edu
        +myskills
        +othersk