mixin othersk(modifier)
  .othersk&attributes(attributes)
    .othersk__content 
      +stitle('othersk','Работы')
      .othersk__info
        ul.othersk__list 
          li.othersk__item
            a(href="https://alexander-verbin.github.io/mysite/" target="_blank").othersk__link Визитка
            | &ensp;(
            a(href="https://github.com/Alexander-Verbin/front-school" target="_blank").othersk__link GitHub
            | )
          li.othersk__item 
            a(href="portfolio/coffee/index.html" target="_blank").othersk__link Сайт кофе
            | &ensp;(
            a(href="https://github.com/Alexander-Verbin/coffee" target="_blank").othersk__link GitHub
            | )

            