include ../blocks/wrapper/wrapper.pug
include ../blocks/general/general.pug
include ../blocks/info/info.pug
include ../blocks/contacts/contacts.pug
include ../blocks/contact/contact.pug
include ../blocks/knowledge/knowledge.pug
include ../blocks/languages/languages.pug
include ../blocks/grey/grey.pug
include ../blocks/white/white.pug
