include ../blocks/wrapper/wrapper.pug
include ../blocks/general/general.pug
include ../blocks/info/info.pug
include ../blocks/contacts/contacts.pug
include ../blocks/contact/contact.pug
include ../blocks/knowledge/knowledge.pug
include ../blocks/languages/languages.pug
include ../blocks/grey/grey.pug
include ../blocks/white/white.pug
include ../blocks/social/social.pug
include ../blocks/hobbies/hobbies.pug
include ../blocks/sidebar/sidebar.pug
include ../blocks/stitle/stitle.pug
