.contact {
    &__content {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 6px 8px;
        margin-bottom: 4px;
        background: rgba(196, 196, 196, 0.35);
        border-radius: 10px;
        max-width: 260px;
        text-decoration: none;
        &:hover {
            transform: scale(1.04);
            @include transition;
        }
    }
    &__image {
        margin-right: 18px;
    }
    &__text {
        font-family: "Calibri";
        font-weight: 400;
        font-size: px-to-em(15);
        line-height: px-to-per(18, 15);
        color: $main-color;
    }
    @media screen and (max-width: 600px){
        &__content{
            max-width: 276px;
        }
        &__image {
            margin-right: 40px;
        }
    }
}
