mixin contact(image,text,link='#')
  .contact&attributes(attributes)
    a(href=link target="_blank").contact__content 
      img(src=`contact/svg/${image}.svg` alt="Иконка").contact__image
      p.contact__text=text