mixin info(modifier)
  .info&attributes(attributes)
    img(src="img/me.png" alt="Аватарка").info__image
    .info__info
      h1.info__name Александр
      h2.info__namesurname Вербин
      h2.info__namepost HTML-Верстальщик