.info {
    display: flex;
    padding-left: 10px;
    margin-bottom: 4px;
    &__image {
        object-fit: contain;
        margin-top: 4px;
        margin-right: 22px;
        transform: scale(0.9);
    }
    &__info{
        margin-top: 14px;
    }
    &__name {
        font-family: Montserrat;
        font-size: px-to-em(25);
        line-height: px-to-per(30, 25);
        color: #cecaca;
        &surname {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: px-to-em(35);
            line-height: px-to-per(43, 35);
            color: $main-color;
        }
        &post {
            font-family: Montserrat;
            font-weight: 700;
            font-size: px-to-em(15);
            line-height: (18,15);
            color: #cecaca;
        }
    }
}
