mixin info(modifier)
  .info&attributes(attributes)
    img(src="img/mee.png" alt="Аватарка").info__image
    .info__info
      h1.info__name Folly
      p.info__namesurname Justin
      p.info__namepost UI/UX Designer