mixin contacts(modifier)
  .contacts&attributes(attributes)
    +contact('mail','justinfolly123@gmail.com')
    +contact('phone','+1 (123) 456-7890')
    +contact('web','www.yoursitename.com')
    +contact('loc','New York')