mixin contacts(modifier)
  .contacts&attributes(attributes)
    +contact('mail','sash.verbin@yandex.ru')
    +contact('phone','+7 (999) 528-59-05')
    +contact('web','www.yoursitename.com')
    +contact('loc','Санкт-Петербург')