mixin knowledge(modifier)
  .knowledge&attributes(attributes)
    .knowledge__content 
      h2.knowledge__title Industry Knowledge
      p.knowledge__item User Interface
      p.knowledge__item User Experience 
      p.knowledge__item Product Design 
      p.knowledge__item Interaction Design
      p.knowledge__item Design Research
      p.knowledge__item Web Design