mixin knowledge(modifier)
  .knowledge&attributes(attributes)
    .knowledge__content 
      h2.knowledge__title Навыки
      p.knowledge__item Кроссбраузерная вёрстка
      p.knowledge__item Адаптивная вёрстка 
      p.knowledge__item Использование jQuery 
      p.knowledge__item Применение шаблонизатора Pug
      p.knowledge__item Применение предпроцессора SCSS
      p.knowledge__item Взаимодействие с Figma при вёрстке
      p.knowledge__item Верстка по методологии БЭМ
      p.knowledge__item Применение Git