.knowledge {
    &__content {
        background: rgba(196, 196, 196, 0.35);
        border-radius: 10px;
        margin-bottom: 12px;
        padding-top: 4px;
        padding-bottom: 10px;
    }
    &__title {
        font-family: "Montserrat";
        font-weight: 700;
        font-size: px-to-em(14);
        line-height: px-to-per(18, 14);
        color: $main-color;
        padding-left: 12px;
    }
    &__item {
        display: flex;
        padding-left: 8px;
        align-items: center;
        font-family: "Calibri";
        font-weight: 400;
        font-size: px-to-em(14);
        line-height: 104%;
        color: #fafafa;
    }
    &__item::before {
        content: "";
        background-color: $main-color;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        margin-right: 4px;
    }
}
