mixin edu(modifier)
  .edu&attributes(attributes)
    .edu__content 
      +stitle('edu','Образование')
      .edu__info
        h3.edu__college ГБОУ ПСК "Санкт-Петербурский центр подготовки спасателей" 
        p.edu__campus Защита в чрезвычайных ситуациях
        p.edu__date 2013-2017, Санкт-Петербург
        h3.edu__college Самообучение в HTML-Academy  
        p.edu__campus Основы HTML, CSS и JavaScript
        p.edu__date 2021-2022, Санкт-Петербург