.edu {
    &__content {
        margin: 0 0 4px 10px
    }
    &__college {
        font-family: "Calibri";
        font-weight: 700;
        font-size: 0.8em;
        line-height: px-to-per(18, 14);
        color: $sidebar-color;
    }
    &__campus {
        font-family: "Calibri";
        font-weight: 400;
        font-size: px-to-em(14);
        line-height: 88%;
        color: $sidebar-color;
    }
    &__date {
        font-family: "Calibri";
        font-weight: 400;
        font-size: px-to-em(9);
        line-height: px-to-per(18, 9);
        color: #73808d;
        margin-bottom: 8px;
    }
    @media screen and (max-width: 600px){
        &__content{
            margin-left: 0;
        }
        &__info{
            display: none;
            margin: 0 14px;
            @include transition;
            &--open{
                display: block;
            }
        }
    }
}
