.stitle {
    &__content {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
        transform: scale(0.9) translateX(-12px); 
    }
    &__title {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: $main-color;
        background: $stitle-color;
        text-transform: uppercase;
        border-radius: 5px;
        padding: 4px 30px;
        min-width: 154px;
        white-space: nowrap;
    }
    &__line {
        background-color: $stitle-color;
        min-width: 142px;
        height: 1px;
    }
}
