mixin languages(modifier)
  .languages&attributes(attributes)
    .languages__content 
      h2.languages__title Languages
      .languages__block
        p.languages__language English
        +grey
        +grey
        +grey
        +grey
        +grey
      .languages__block
        p.languages__language Hindi
        +grey
        +grey
        +grey
        +grey
        +white 
      .languages__block
        p.languages__language french
        +grey
        +grey
        +white
        +white
        +white