mixin languages(modifier)
  .languages&attributes(attributes)
    .languages__content 
      h2.languages__title Владение Языками
      .languages__block
        p.languages__language Русский
        .languages__item
        .languages__item
        .languages__item
        .languages__item
        .languages__item
      .languages__block
        p.languages__language English
        .languages__item
        .languages__item
        .languages__item
        .languages__item.languages__item--white
        .languages__item.languages__item--white