mixin languages(modifier)
  .languages&attributes(attributes)
    .languages__content 
      h2.languages__title Languages
      .languages__block
        p.languages__language English
        .languages__item
        .languages__item
        .languages__item
        .languages__item
        .languages__item
      .languages__block
        p.languages__language Hindi
        .languages__item
        .languages__item
        .languages__item
        .languages__item
        .languages__item.languages__item--white
      .languages__block
        p.languages__language french
        .languages__item
        .languages__item
        .languages__item.languages__item--white
        .languages__item.languages__item--white
        .languages__item.languages__item--white