.exp {
    &__content {
        margin: 0 0 12px 10px;
    }
    &__company {
        font-family: "Calibri";
        font-weight: 700;
        font-size: px-to-em(14);
        line-height: px-to-per(18, 14);
        color: $sidebar-color;
    }
    &__post {
        font-family: "Calibri";
        font-weight: 400;
        font-size: px-to-em(14);
        line-height: 94%;
        color: $sidebar-color;
    }
    &__date {
        font-family: "Calibri";
        font-weight: 400;
        font-size: px-to-em(9);
        line-height: 170%;
        color: #73808d;
    }
    &__text {
        font-family: "Calibri";
        font-weight: 400;
        font-size: px-to-em(9);
        line-height: 122%;
        color: rgba(0, 0, 0, 0.8);
        margin-bottom: 12px;
        max-width: 261px;
    }
    @media screen and (max-width: 600px){
        &__company{
            display: none;
            @include transition;
            &--open{
                display: block;
            }
        }
        &__post{
            display: none;
            @include transition;
            &--open{
                display: block;
            }
        }
        &__date{
            display: none;
            @include transition;
            &--open{
                display: block;
            }
        }
        &__text{
            display: none;
            @include transition;
            &--open{
                display: block;
            }
        }
    }
}
