mixin exp(modifier)
  .exp&attributes(attributes)
    .exp__content 
      +stitle('exp','Опыт')
      .exp__info
        h3.exp__company Самообучение в HTML Academy
        p.exp__post Ученик
        p.exp__date Октябрь 2021 - Март 2022, Санкт-Петербург
        p.exp__text Изучение основ HTML 5, CSS 3 и JavaScript. Прошел курс для получение базовых знаний в разработке веб-сайтов.
        h3.exp__company "Гильдия Фронтов"
        p.exp__post Ученик
        p.exp__date Октябрь 2021 - по настоящее время, Санкт-Петербург
        p.exp__text Дополнительно изучение HTML 5, CSS 3 и JavaScript, Изучение методологии БЭМ, а так же получил опыт работы с Figma, Perfect Pixel, системой контроля версий Git и использование репозитория на GitHub, шаблонизатором Pug, предпроцессором SCSS, под руководством двух middle-frontend разработчиков, выполнение тренировочного проект в рамках пройденого материала.