mixin exp(modifier)
  .exp&attributes(attributes)
    .exp__content 
      .exp__titles
        h2.exp__title experience
        .exp__line
      .exp__info
        h3.exp__company Blue Moon Consultency Studio
        p.exp__post Seniour UI designer
        p.exp__date Aug 2020 - Present - 1 year, New York
        p.exp__text Product team to prototype, design and deliver the UI and UX experience with a lean design process: research, design, test, and iterate.
        h3.exp__company Black Yark product design
        p.exp__post Seniour UX designer
        p.exp__date Aug 2015 - Aug 2020 - 5 year, New York
        p.exp__text Lead the UI design with the accountability of the design system, collaborated with product and development teams on core projects to improve product interfaces and experiences.