mixin wrapper(modifier)
  .wrapper&attributes(attributes)
    .wrapper__content
      //.wrapper__burg
        .wrapper__burger
          span.wrapper__bar
          span.wrapper__bar
      +general
      +sidebar