@property --p {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}
.myskills {
    .pie {
        --p:20;
        --b:5px;
        --c:darkred;
        --w:60px;
        
        width:var(--w);
        aspect-ratio:1;
        position:relative;
        display:inline-grid;
        place-content:center;
        font-size:25px;
        font-weight:bold;
        font-family:sans-serif;
    }
    .pie:before,
    .pie:after {
    content:"";
    position:absolute;
    border-radius:50%;
    }
    .pie:before {
    inset:0;
    background:
        radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
        conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
    }
    .pie:after {
    inset:calc(50% - var(--b)/2);
    background:var(--c);
    transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
    }
    .animate {
    animation:p 1s .5s both;
    }
    .no-round:before {
    background-size:0 0,auto;
    }
    .no-round:after {
    content:none;
    }
    &__content {
        margin-left: 8px;
    }
    &__titles {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
        transform: scale(0.9) translateX(-12px); 
        flex-wrap: nowrap;
    }
    &__title {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: $main-color;
        background: $stitle-color;
        text-transform: uppercase;
        border-radius: 5px;
        padding: 4px 28px;
        min-width: 154px;
        white-space: nowrap;
    }
    &__line {
        background-color: $stitle-color;
        min-width: 142px;
        height: 1px;
    }
    &__skills {
        display: flex;
        flex-wrap: wrap;
        max-width: 296px;
    }
    &__skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4px 8px 6px;
        &:first-child{
            margin-right: 14px;
        }
        &:nth-child(4){
            margin-left: 2px;
        }
    }
    &__image {
        background-color: rgba(196, 196, 196, 0.4);
        border-radius: 50%;
        width: 44px;
        height: 44px;
        @include flex-dir;
    }
    &__text {
        font-family: "Montserrat";
        font-weight: 600;
        font-size: px-to-em(14);
        line-height: px-to-per(18, 14);
        color: $stitle-color;
        text-align: center;
        max-width: 80px;
    }
    @media screen and (max-width: 600px){
        &__content{
            margin-left: 0;
        }
        &__skills{
            max-width: none;
        }
        &__skill{
            margin: 10px 0 10px 0;
            &:first-child{
                margin-right: 6px;
            }
            &:nth-child(4){
                margin-left: 0;
            }
        }
        &__info{
            display: none;
            margin: 0 14px;
            @include transition;
            &--open{
                display: block;
            }
        }
    }
}
@keyframes p {
    from{--p:0}
}
